
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: rgb(5, 5, 5);
    color: rgb(255, 255, 255);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: rgb(5, 5, 5);
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-bottom: #ff00080a;
    border-bottom-style: inset;
}

.logo{
    cursor: pointer;
    width: 6rem;
}

nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.4s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover{
    border-bottom: 3px solid #C41016;
}

nav a.active{
    color: #C41016;
}

@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #C41016;
        border-bottom: 3px solid #C41016;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: rgb(5, 5, 5);
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #C41016;
    }

    nav a:hover{
        padding: 1rem;
        border-radius: 0.5rem;
    }
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: rgb(5, 5, 5);
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #C41016;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p{
    font-size: 1.6rem;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #C41016;
    font-size: 2rem;
    border-radius: 50%;
    transition: 0.3s ease;
    color: #C41016;
}

.social-icons a:not(:last-child) {
    margin: 3rem 1.5rem 3rem 0;

}

.social-icons a:hover{
    color: rgb(5, 5, 5);
    transform: scale(1.3) translateY(-5px);
    background-color: #C41016;
    box-shadow: 0  0 25px #C41016;
}

.btn{
    display: inline-block;
    width: auto;
    padding: 1rem 2.8rem;
    background-color: rgb(5, 5, 5);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #C41016;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #C41016;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: #C41016;
    color: rgb(5, 5, 5);
    box-shadow: 0 0 25px #C41016;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "software Developer";
    color: #C41016;
    animation: words 20s infinite;
}

.typing-text span::after{
    content: "";
    background-color: rgb(5, 5, 5);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid rgb(5, 5, 5);
    right: -8;
    animation: cursor 0.6s infinite;
}

.title-section {
    text-transform: uppercase;
    margin-bottom: 8vh;
    font-size: 2rem;
    color: #C41016;
    display: flex;
    justify-content: center;
}

.title-card {
    font-size: 2rem;
    margin-bottom: 3vh;
    margin-top: 3vh;
    color: #C41016;
}

.card-description,
.contact-info {
    list-style: none;
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
    line-height: 1.6;
}

.card-description li {
    margin-bottom: 1rem;
}

.skill-card {
    background-color: rgba(59, 59, 59, 0.075);
    border-radius: 5px;
    padding: 6rem 6rem;
    width: 450px;
    height: 500px;
    border-color: #ffffff04;
    border-width: 2px;
    border-style: inset;
}

.container-image {
    width: 100%;
}

.card-icon {
    width: 5rem;
    filter: drop-shadow(0px 0px 9px #ffffff);
}

.cards-section {
    flex: 1 1 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

.card-content {
    display: inline-block;
}

.card-content .btn{
    background-color: #3b3b3b13;
    color: white;
}

.card-content .card-description {
    margin-bottom: 4rem;
}

.cards-container {
    flex: 1 1 50%;
    display: flex;
    align-items: center;
    gap: 32px;
    
}

.project-img {
    max-width: 100%;
}

.img-container {
    width: 100%;
    padding: 60px;
    background-color: #3b3b3b13;
    border-radius: 5px;
}

.img-container:hover {
    color: rgb(5, 5, 5);
    box-shadow: 0  0 25px #C41016;
    transition: 0.6s ease;
    cursor: pointer;
}

.contact-title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
}


.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 60px;
    background-color: #3b3b3b13;
    margin-top: 15rem;
    gap: 4rem;
    border-color: #ffffff04;
    border-width: 2px;
    border-style: inset;
}

.contact-text {
    flex: 2;
    text-align: left;
}

.button-contact {
    flex: 1;
    text-align: right;
}
.button-contact a{
    width: 270px;
    text-align: center;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 25vh;
    background-color: #3b3b3b13;
}

.legals {
    background-color: rgb(24, 24, 24);
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px 0;
}

.legals p{
    font-size: 1rem;
    color: #ffffff;
}
@keyframes cursor{
    to{
        border-left: 3px solid #C41016;
    }
}

@keyframes words{
    0%, 20%{
        content: "Ux Designer";
    }
    21%, 40%{
        content: "WebDeveloper";
    }
    41%, 60%{
        content: "Ui Designer";
    }
    61%, 80%{
        content: "Dreamer";
    }
    81%, 100%{
        content: "Digital creator";
    }
}

@media (max-width: 1000px){
    .home{
        gap: 4rem;
    }
}

@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
    .cards-container {
        flex-direction: column;
        gap: 8.9rem;
    }
    .contact-form {
        flex-direction: column;
    }

    .contact-text {
        margin-bottom: 100px;
    }
}

@media(min-width:360px) and (max-width:994px){
    p{
        font-size: 1.4rem;
        line-height: 2;
    }
    .contact-title h2 {
        font-size: 3rem;
    }
    .contact-form {
        padding: 30px 30px;
        display: flex;
    }
    .contact-text {
        margin:0;
    }
    .btn {
        display: flex;
        justify-content: center;
    }
    .button-contact, .button-contact a {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}