* {
  margin: 0;
  padding: 0;
  font-family: Josefin Sans, sans-serif;
  box-sizing: border-box;
}

body {
  padding-bottom: 20000px;
  background-color: rgb(20, 20, 20);
}
h1,
h3 {
  color: #e9e9e9;
}
h4,h2 {
  color: #930C11;
}

p{
  color: #e9e9e9;
}

.logo {
  width: 65px;
  cursor: pointer;
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 400px;
}


nav ul li {
  list-style: none;
  display: inline-block;
  padding: 0 25px;
}

nav ul li a {
  color: #e9e9e9;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #f9004d;
  transition: .4s;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 112px 400px;
  
}
.hero-content {
  width: 508px;
}

.title-name {
  line-height: 1.5;
  margin-bottom: 24px;
}

.description-hero {
  line-height: 1.5;
  margin-bottom: 48px;
}

.hero-image {
  width: 400px;
  height: 419px;
}

.image {
  width: 100%;
  height: 100%;
  
}

.cta-main {
  display: inline-block;
  background-color: #C41016;
  color: white;
  text-align: center;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 16px 24px;
  border-radius: 2px;
  transition: transform .4s;
}

.cta-main:hover {
  transform: scale(1.1);
  background-color: rgb(54, 54, 54);
}

.skills-container {
  margin: 0 400px;
}
.section-title {
  display: flex;
  justify-content: flex-start;
  margin-top: 144px;
  margin-bottom: 40px;
  color:#C41016;
}
.skills {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card {
  color:rgb(236, 236, 236);
  background-color: rgb(27, 27, 27);
  padding: 70px 32px;
  border-radius: 5px;
}

.card:not(:last-child) {
  margin-right: 24px;
}

.img-dev {
  width: 100%;
}

.img-ux {
  width: 100%;
}

.img-container {
  width: 50px;
  margin-bottom: 32px;
}

.card-content {
  line-height: 1.5;
}

.cta-secondary {
  display: inline-block;
  background-color: #930C11;
  color: #ffffff;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 16px 24px;
  border-radius: 2px;
  transition: transform .4s;
  margin-top: 32px;
}

.cta-secondary:hover {
  transform: scale(1.1);
  background-color: #C41016;
}

.projects-container {
  margin: 0 400px;
}
.buddhify-img {
  width: 350px;
  object-fit: contain;
}

.meditactive-img {
  width: 350px;
  object-fit: contain;
}

.img-project {
  display: flex;
  justify-content: center;
  height: 400px;
  background-color: rgb(27, 27, 27);
  border-radius: 5px;
}

.project-text {
  line-height: 2;
  margin-top: 40px;
}

.project-card {
  width: 1000px;
}

.project-card:first-child {
  margin-right: 24px;
}

.projects {
  display: flex;
  justify-content: space-between;
}

.container-contact {
  background-color: #1b1b1b;
  display: flex;
  justify-content: space-between;
  margin: 200px 400px;
  padding: 70px 58px;
}

.title-contact {
  padding-bottom: 32px
}

.text-contact {
  width: 500px;
  margin-right: 60px;
}

.info-contact {
  line-height: 1.5;
}


.social-icon {
  width: 50px;
  margin-right: 32px;
}

.social-icons {
  display: flex;

}
.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 32px 400px;
  background-color: #1b1b1b;
}

span {
  color:#e9e9e9;
}

.footer h4 {
  line-height: 1.5;
}



