:root {
  --primary: #c41016;
  --primary-10: rgba(196, 16, 22, 0.05) ;
  --white: white; 
  --light: #f7f7f7;
  --border-light: #e0e0e0;
  --background: #050505;
  --dark: #080808;
}

.contact {
  background-color: white;
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
  grid-gap: 6rem;
}

.contact-form h1 {
  font-size: 5rem;
  margin-bottom: 20px;
}

.contact-form p {
  color: var(--dark);
  letter-spacing: 1px;
  line-height: 26px;
  font-size: 1.6rem;
  margin-bottom: 4rem;
}

.contact-form form{
  position: relative;
}

.contact-form form input:focus {
  border: 1px solid var(--border-light);
  transition: 0.5s ease;
}


.contact-form form input,
form textarea {
  width: 100%;
  padding: 17px;
  outline: none;
  background: var(--light);
  color: var(--dark);
  font-size: 1.6rem;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.contact-form textarea {
  resize: none;
  height: 200px;
}

.contact-form textarea:focus {
  border: 1px solid var(--border-light);
  transition: 0.5s ease;
}
.contact-form form input.btn {
  display: inline-block;
  width: 270px;
  padding: 1rem 2.8rem;
  background-color: var(--primary);
  border-radius: 4rem;
  font-size: 1.6rem;
  color: white;
  letter-spacing: 0.3rem;
  font-weight: 600;
  border: 2px solid var(--primary);
  transition: 0.3s ease;
  cursor: pointer;
}
.contact-form form input.btn:hover {
  background-color: var(--primary);
}

.logo{
  position: relative;
  left: 50%;
}




@media (max-width: 1399.98px) {
  section{
      padding: 80px 3%;
      transition: .2s;
  }
  .contact-form h1 {
      font-size: 4rem;
  }
  .contact-form p {
      margin-bottom: 3rem;
  }
}

@media (max-width: 767.98px) {
  section {
    padding: 0 8px;
  }
  .contact {
    padding: 0;
    margin: 0;
    justify-content: center;
    display: flex;
    grid-gap: 2rem;
    transition: .3s;
    grid-template-columns: 1fr;
  }
  .contact-form{
    margin: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contact-form form input.btn {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}